---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
{% set postsCount = collections.posts | length %}
{% set highlightedPosts = collections.posts | filterHighlightedPosts %}

{% if highlightedPosts.length > 0 %}
{% include "highlights.njk" %}
{% endif %}

{% include "legend.njk" %}

{% set postslist = collections.posts %}

{% include "postslist.njk" %}