<ul class="legend" style="list-style: none; padding-left: 0;">
  <li style="display: flex; justify-content: flex-start;">
    <span style="width: 2em; text-align: right;">👨‍🍳:</span>
    <span style="margin-left: 0.5em;">Chef's suggestion</span>
  </li>
  <li style="display: flex; justify-content: flex-start;">
    <span style="width: 2em; text-align: right;"><span style="color: green; font-weight: bold;">V</span>:</span>
    <span style="margin-left: 0.5em;">Vegetarian</span>
  </li>
</ul>