{% for year, yearPosts in collections.postsByYear %}
  <h2 class="yearHeader">{{ year }}</h2>
  <ul class="postlist">
    {% for post in yearPosts  %}
      <li class="postlist-item">
      <div class="post-item">
        <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("MMM d") }}</time> <a href="{{ post.url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
      </li>
      </div>
    {% endfor %}
  </ul>
{% endfor %}
